<div class="mx-auto">
  <div class="df mb-90">
    <div class="w-70 mr-50 ml-50">
      <div class="cxy mb-50">
        <img src="assets/articles/ai-china.png" width="100%">
      </div>
      <div class="mb-10 df topic">
        <div>{{t.tr('мода')}}</div>
        <div class="mx-10">|</div>
        <div>{{t.tr('технологии')}}</div>
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('Китайские торговые бренды активно внедряют искусственный интеллект в маркетинг')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Искусственный интеллект успешно внедряется в самые разные отрасли по всему миру, и Китай находится на переднем крае этой технологической революции. Обсуждение новых, еще не до конца раскрытых возможностей нейросетей, стало одной из ключевых тем на Международной выставке потребительских товаров в Китае. Представители торговых брендов активно изучают потенциал искусственного интеллекта в сфере маркетинга. Тему продолжит наш корреспондент.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Рауль Пардейльхан - лицо нескольких мировых брендов класса люкс. Уроженец Аргентины, широко известный в актерских кругах и модельном бизнесе, работает в Китае уже 13 лет. Недавно он поселился на острове Хайнань.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Актер и фотомодель Рауль Пардейльхан: "Мне в следующем месяце исполнится 42 года. На Хайнане много интересных предложений для таких, как я. Для зрелых, состоявшихся людей, у которых больше возможностей купить дорогую машину, яхту, сходить поиграть в гольф".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Теперь у тех, кто занят в рекламе и модельном бизнесе, всё куда сложнее, чем раньше. Создать образ мечты искусственный интеллект может и самостоятельно. Рауль решил побороться за возможность остаться в профессии.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Актер и фотомодель Рауль Пардейльхан: "Я решил объединиться с теми, кто разбирается в работе нейросетей. Мне интересно использовать не только свои внешние данные, но и умственные способности. Я уже говорю по-китайски, но собираюсь использовать искусственный интеллект для перевода моих видеосюжетов на самые разные языки".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Такие модные бренды как Burberry, Dolce & Gabbana, Coach уже начали использовать возможности искусственного интеллекта.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Президент Coach China Лилиана Лучиони: "Искусственный интеллект - это новое средство повышения производительности, которое мы используем в нашей маркетинговой кампании, новый способ работы, позволяющий нам быть более точными в прогнозировании рынка, лучше понимать наших клиентов и создавать сильную и успешную историю бренда".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Искусственный интеллект может заранее улавливать потребительские тенденции и популярность тех или иных продуктов, визуализировать данные для создания индивидуального контента. Всё это - для привлечения аудитории и увеличения продаж. В Китае нет недостатка в сборе данных, позволяющих сделать искусственный интеллект умнее. Но основная задача в том, чтобы использовать полученные данные, четко придерживаясь этических норм.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Соуправляющий партнер китайского института искусственного интеллекта "Делойт" Фань Вэй: "Как создать искусственный интеллект, заслуживающий доверия, чтобы был предусмотрен контроль за его поведением? Здесь есть несколько моментов. Во-первых, правительству необходимо ввести стандартное регулирование. Мы видим, что руководство большинства стран, включая правительство Китая, делают это. Необходимо внедрить четкие правила и в нашу отрасль: какие данные я должен раскрыть, от чего должен отказаться, какие защитные барьеры мне нужно выстроить при использовании этой технологии".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Дискуссия о том, как провести грань между творческим воображением и ложным представлением действительности, будет продолжаться еще долго. В этой новой гонке технологий важно помнить: искусственный интеллект, при всем его совершенстве, лишь выполняет креативную задачу, поставленную ему человеком. Талант, труд и творчество по-прежнему в цене.')}}
      </div>
      <div class="link">
        <div class="df">
          <div class="mr-5">{{t.tr('Источник:')}}</div>
          <a href="https://russian.cgtn.com/news/2024-04-17/1780601048426246146/index.html" target="_blank">https://russian.cgtn.com/news/2024-04-17/1780601048426246146/index.html</a>
        </div>
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img [src]="'assets/articles/' + t.lang + '/optimize.png'" width="100%">
      </div>
    </div>
  </div>
</div>
