<div class="mx-auto">
  <div class="df mb-90">
    <div class="w-70 mr-50 ml-50">
      <div class="cxy mb-50">
        <img src="assets/articles/fuzhou.png" width="100%">
      </div>
      <div class="mb-10 df topic">
        <div>мир</div>
        <div class="mx-10">|</div>
        <div>события</div>
      </div>
      <div class="article mb-20 text-justify">
        В Фучжоу провинции Фуцзянь на юго-востоке открылась четвертая Китайская ярмарка трансграничной электронной коммерции. В ней участвуют более 30 платформ трансграничной электронной коммерции со всего мира и более 1500 экспонентов из Китая.
        <br>На выставке электронной коммерции компания Норхаяти из Малайзии ищет потенциальных деловых партнеров в Китае. Она приехала в Китай с группой специалистов по закупкам из Юго-Восточной Азии - одного из регионов с самым быстрорастущим сектором электронной коммерции в мире.
      </div>
      <div class="cxy mb-20">
        <img src="assets/articles/fuzhou-1.png" width="100%">
      </div>
      <div class="article text-justify mb-20">
        Управляющий директор компании Yetsmart Mgmt Consultancy Норхаяти: "Китайские товары отличаются хорошим качеством на протяжении многих лет. Многие товары на прилавках в Малайзии производятся в Китае. Мы активно сотрудничаем с компаниями Shopee и Lazada. Если компания может поставлять свои продукты или услуги в Малайзию или создать совместную компанию с малайзийскими партнерами, это может сократить расходы на логистику".
      </div>
      <div class="article text-justify mb-20">
        Шарон работает в той же закупочной группе. Она ищет китайские продукты питания для продажи в Малайзии и за ее пределами, а также потенциальных китайских деловых партнеров.
      </div>
      <div class="cxy mb-20">
        <img src="assets/articles/fuzhou-2.png" width="100%">
      </div>
      <div class="article text-justify mb-20">
        Операционный директор компании Bernam Food Industry Шарон Джит Каур: "Что меня здесь привлекает, так это цены. Они здесь намного ниже по сравнению с другими странами. А также со временем качество товаров стало намного лучше. И доставка происходит намного быстрее".
      </div>
      <div class="article text-justify mb-20">
        По мере развития трансграничной электронной коммерции в Китае местные компании все чаще стремятся выводить на мировой рынок собственные бренды.
      </div>
      <div class="article text-justify mb-20">
        Исполнительный директор компании Midodo International Trading Limited Дэн Хай: "В прошлом Китаю чаще всего отводилась роль фабрики для товаров, а бренды, под которыми эти товары выпускались, контролировались компаниями из развитых стран. После появления трансграничной электронной коммерции мы можем использовать интернет, чтобы китайские товары напрямую попадали на зарубежные рынки и к потребителям. Благодаря этому мы получаем обратную связь, а это позводляет производителям устранять замечания и улучшать дизайн".
      </div>
      <div class="article text-justify mb-20">
        Эксперты говорят, что трансграничная электронная коммерция - самое быстрорастущие направление внешней торговли Китая с наибольшим потенциалом.
      </div>
      <div class="link">
        <div class="df">
          <div class="mr-5">Источник: </div>
          <a href="https://russian.cgtn.com/news/2024-03-19/1769970440948879362/index.html" target="_blank">https://russian.cgtn.com/news/2024-03-19/1769970440948879362/index.html</a>
        </div>
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img src="assets/optimize.png">
      </div>
    </div>
  </div>
</div>
