<div class="mx-auto max-w-1300">
  <div class="df mb-90">
    <div class="w-70 mr-50 ml-50">
      <div class="cxy mb-50">
        <img src="assets/articles/ai.png" width="100%">
      </div>
      <div class="mb-10 df topic">
        <div>{{t.tr('мода')}}</div>
        <div class="mx-10">|</div>
        <div>{{t.tr('новости')}}</div>
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('В Китае ИИ шьет одежду по индивидуальному заказу на расстоянии и за один день')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Готовая одежда по индивидуальному заказу всего за один день. В Китае это уже реальность. Благодаря внедрению искусственного интеллекта в производство клиент может снять мерку самостоятельно, не выходя из дома. Как говорят сотрудники швейной фабрики в провинции Чжэцзян, новые технологии позволяют выполнить заказ не только быстро, но и более качественно. Наш корреспондент Ван Шици решила лично проверить, как это работает.')}}
      </div>
      <div class="cxy mb-50">
        <img src="assets/articles/ai-1.png" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Корреспондент CGTN-Русский Ван Шици: "Если говорить об изготовлении одежды под заказ, многие, наверняка, сразу начинают думать о высокой цене, долгом времени ожидания ее изготовления, а также о сложном процессе размещения самого заказа, ведь портному необходимо снять все мерки, выбрать материал, фасон и так далее. Эту проблему решила одна китайская компания. Покупатели, не выходя из дома, могут прислать фотографию, и за один день нужное изделие будет готово. Как такое возможно? Сейчас узнаем!"')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Корреспондент CGTN-Русский Ван Шици: "Сейчас я через интернет размещу заказ на индивидуальный пошив одежды".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('После того, как мои фото спереди, сбоку и со спины сделаны, буквально за несколько секунд на планшет автоматически загружаются все данные про мой рост, обхват груди и длину рукава. Весь процесс от дизайна одежды до оформления заказа занимает не больше 5 минут, причем все это сделано в онлайн-формате. По словам менеджера Ци Хэсянь, такой способ - проверка размера одежды с помощью искусственного интеллекта дает более точный и быстрый результат, если бы все это делалось вручную.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Менеджер компании по продаже и производству индивидуальной одежды под заказ Ци Хэсянь:"У всех традиционных закройщиков свои приемы, которые могут привести к неточностям в измерении. В этом случае мы можем предоставить клиенту наиболее точные данные с помощью унифицированного метода измерения. На основе более 5 миллионов различных типов фигуры. Допустимая погрешность -примерно 1%, что уже удовлетворяет потребностям индивидуального заказа одежды. К тому же, это экономит много времени. Такой способ особенно удобен и эффективен для тех клиентов, которые находятся далеко от нас. И они могут сделать свой заказ на расстоянии".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Корреспондент CGTN-Русский Ван Шици: "После оформления заказа выкройка сразу же идет в производство. Мы приехали на фабрику, чтобы посмотреть, какие этапы проходит мой заказ до полного выполнения".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Проследить процесс пошива одежды оказалось сложнее, чем ожидала. Потому что в швейном цеху работает несколько линий параллельно. Рукава, перед, плечики, спинки - все это шьется почти в одно и то же время. И я нашла секрет высокой эффективности их работы.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Корреспондент CGTN-Русский Ван Шици: "Я заметила, что для каждого изделия есть свой QR-код. Мне интересно, как он работает".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Сотрудница закройного цеха Сюй Сяоцзюнь: "Я раскраиваю ткань. Я раскладываю ее на столе. Сканирую QR-код, и различные формы раскроя ткани автоматически появляются на экране. Мне просто нужно нажать кнопку "старт", и машина автоматически начинать резать ткань".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Одежду на фабрике шьют по индивидуальному заказу, но портным нет необходимости общаться друг с другом. Более ста этапов производства - с момента поступления ткани в цех до выхода готовой продукции - записываются в этом QR-коде. При его сканировании работники получают всю информацию, которая необходима для работы.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Корреспондент CGTN-Русский Ван Шици: "Вот и мой костюм готов. Красиво? По-моему, мне очень идет".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Индивидуальность - важная тенденция развития текстильной промышленности. Интернет значительно повысил производительность труда. На этой фабрике срочный заказ может быть выполнен всего за один день. В обычных условиях здесь на это уходит неделя. В то время, как традиционный пошив одежды занимает 15-20 дней.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Руководитель отдела корпоративного управления по продаже и производству индивидуальной одежды под заказ Чжан Хэ:"Эффективность нашей работы выросла как минимум на 50%. Улучшение качества еще более очевидно. Наш основной бизнес - это частные индивидуальные заказы. Телосложение каждого человека разное, и мы хотим подчеркнуть фигуру наилучшим образом. Поэтому требования к пошиву высокие. С участием этой умной системы можно отследить весь процесс - от заказа до готовой одежды. В том числе, можно увидеть, кто сшил одежду и кто ее проверил. Совместное использование закодированной информации значительно сократило время на общение и помогло уменьшить число ошибок".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Корреспондент CGTN-Русский Ван Шици: "Это и есть новая тенденция в развитии промышленного сектора Китая, которая сейчас заявлена как сочетание промышленности и интернета. Эта модель помогает предприятиям повысить эффективность производства и снизить затраты. За 2023 год промышленный интернет способствовал увеличению добавленной стоимости трех основных отраслей до 4,69 трлн юаней".')}}
      </div>
      <div class="link">
        <div class="df">
          <div class="mr-5">{{t.tr('Источник:')}}</div>
          <a href="https://russian.cgtn.com/news/2024-03-31/1774349867982942209/index.html" target="_blank">https://russian.cgtn.com/news/2024-03-31/1774349867982942209/index.html</a>
        </div>
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img [src]="'assets/articles/' + t.lang + '/optimize.png'" width="100%">      </div>
    </div>
  </div>
</div>

