<div class="mx-auto max-w-1300">
  <div class="df mb-90">
    <div class="w-70 mr-50 ">
      <div class="cxy mb-50">
        <img src="assets/photo/012.png" width="900">
      </div>
      <div class="mb-10 df topic">
        <div>мода</div>
        <div class="mx-10">|</div>
        <div>события</div>
      </div>
      <div class="article-header mb-20 text-justify">
        Специальным гостьей Московской недели моды стала итальянская кинодива Орнелла Мути, которая в рамках масштабного модного мероприятия дала публичное интервью для журнала «Москвичка». На этой открытой беседе актриса рассказала о своих жизненных ценностях, благотворительности, модных фаворитах и впечатлениях о визитах в Россию: «Мне нравится атмосфера в Москве, красота города и симпатия, которую люди проявляют ко мне. Это огромный подарок!».
      </div>
      <div class="mb-50">04.03.2024 17:00</div>
      <div class="cxy mb-50">
        <img src="assets/photo/011.png" width="900">
      </div>
      <div class="article text-justify mb-50">
        Орнелла Мути откровенно рассказала и про своих близких, упомянув, что ее бабушка родилась в Санкт-Петербурге. «Я очень люблю свою семью, своих детей и внуков! Я сражалась за нее, потому мою профессию сложно совмещать с ролью матери», – сказала киноактриса. Актрису на Московской неделе моды сопровождает ее старшая дочь Найке Ривелле, которая примет участие в показе российского бренда MAISON ESVE в качестве модели.
      </div>
      <div class="article text-justify mb-50">
        Российские марки восхитили знаменитую итальянскую актрису, которая уже давно испытывает интерес к моде нашей страны. Показы российских дизайнеров в этом сезоне действительно впечатляют как ярким креативом, так и обширной географией. Так, в первые два дня на подиуме Московской недели моды можно было увидеть коллекции дизайнеров из Москвы, Екатеринбурга, Калининграда, Самары, Санкт-Петербурга, Улан-Удэ, Челябинска, Перми, Ульяновска, Владивостока.
      </div>
      <div class="cxy mb-50">
        <img src="assets/articles/003.jpg" height="800">
      </div>
      <div class="article text-justify mb-50">
        Бренд Abzaeva из Улан-Удэ переосмыслил традиции кочевой культуры Бурятии. История шаманского рода с острова Ольхон, к которому принадлежит основательница марки, нашла отражение в представленной на Московской неделе моды в «Манеже» коллекции. Чтобы передать свое уникальное ощущение формы и времени, дизайнер Надежда Абзаева использовала разрезы, бахрому и множество аппликаций.
      </div>
      <div class="article text-justify mb-50">
        Марка из Санкт-Петербурга Dear Passenger N. показала, как должен выглядеть гардероб современной девушки. Были представлены чистые, понятные и практичные образы, но при этом виртуозно сочетающие женственные элементы со сдержанным оверсайзом, присущим мужскому гардеробу.
      </div>
      <div class="cxy mb-50">
        <img src="assets/articles/004.jpg" height="800">
      </div>
      <div class="article text-justify mb-50">
        В показе коллекции московской марки BITTE__RUHE приняла участие актриса нашумевшего сериала «Слово пацана» Елизавета Базыкина. Молодая звезда вышла на подиум в меховом пальто силуэта оверсайз с анималистичным принтом и черном объемное платье с пышными рукавами. «Философия нашего бренда заключается в том, что у нас нет коллекции. На показе была продемонстрирована одежда, которую мы создаем на протяжении всех трех лет от дня создания бренда до сегодняшнего», – поделилась дизайнер бренда BITTE__RUHE Ксения Кудряшова.
      </div>
      <div class="cxy mb-50">
        <img src="assets/articles/005.jpg" width="800">
      </div>
      <div class="article text-justify mb-50">
        Показы на Международной выставке-форуме «Россия» на ВДНХ тоже неизменно проходят с аншлагом, тем более, что посетить их может каждый желающий. Бренд из Владивостока KUZMA by Natalia Kuzmenko показал коллекцию «Палитра перемен», выполненную преимущественно из натуральных тканей таких, как костюмная и пальтовая шерсть, вельвет, хлопок. Сочетание аристократичного стиля с гранжем и барокко придало дефиле изысканность и уникальность. Марка IVANOVA из Сочи представила эстетику утилитарного минимализма с легкими романтическими акцентами. Пастельные тона были дополнены яркими элементами: контрастными лентами-галстуками у мужчин и массивными брошами в виде цветов у женщин. У бренда получилось органично передать приморскую тематику без прямого цитирования.
      </div>
      <div class="article text-justify mb-50">
        Московская неделя моды стала и настоящим модным хабом для иностранных дизайнеров. На подиумах в Москве представлены десять стран мира, включая Бразилию, Индонезию, Китай, Индию, ЮАР и Египет. Такое культурное разнообразие делает российскую столицу точкой притяжения для звездных гостей, мировой прессы и модного бизнес-сообщества, заинтересованного в установлении новых экономических связей.
      </div>
      <div class="link">
        <div>Галина Завалунова</div>
        <div>Опубликовано: 04.03.2024 17:00</div>
        <div>Отредактировано: 04.03.2024 17:00</div>
       <div class="df">
         <div class="mr-5">Источник: </div>
         <a href="https://versia.ru/mirovye-i-rossijskie-zvezdy-na-moskovskoj-nedele-mody" target="_blank">https://versia.ru/mirovye-i-rossijskie-zvezdy-na-moskovskoj-nedele-mody</a>
       </div>
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img src="assets/optimize.png">
      </div>
    </div>
  </div>
</div>
