/deep/.p-menu.p-menu-overlay {
  top: 90px!important;
}
/deep/.p-menu {
  border-radius: unset;
}
/deep/.p-menu .p-menuitem-link {
  font-size: 13px;
}
/deep/.p-button {
  background: rgba(0, 0, 0, 0.38);
  border: none;
}
.app-header{
  height: 90px;
  min-height: 90px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header-body {
  background-image: url("../../../assets/back1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
}
.logo{
  height: 90px;
  font-size: 40px;
  text-decoration: none;
  color: black;
}
.header-inner{
  width: 100%;
}
.menu-search{
  text-transform: uppercase;
  font-size: 13px;
  color: white;
}
.menu-search:hover{
  color: #ffffff;
  transition: 0.3s;
}
.menu{
  text-transform: uppercase;
  font-size: 13px;
  color: white;
}
.menu:hover{
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.76);
  transition: 0.3s;
}
.menu-hover:hover{
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.76);
  transition: 0.3s;
}
.heart-hover:hover{
  border-bottom: 1px solid #ffffff;
  transition: 0.3s;
}
.menu-item{
  position: relative;
}
.s-menu{
  position: absolute;
  left: 0;
  top: 70px;
}
.menu-overlay{
  padding: 0.25rem 0;
  background: #ffffff;
  color: #495057;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  width: 12rem;
}
.sub-menu{
  padding: 0.75rem 1.25rem;
  color: #495057;
  border-radius: 0;
  transition: box-shadow 0.2s;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
}
.sub-menu:hover{
  background-color: #E9ECEF;
}
.font-12{
  font-size: 12px;
}
.degrees{
  position: absolute;
  top: 40px;
  left: 10px;
  color: white;
  font-weight: bold;
}
