.header-body {
  background-color: white;
}
.logo{
  height: 70px;
  font-size: 50px;
  text-decoration: none;
  color: black;
}
.header-inner{
  width: 100%;
  max-width: 1600px;
  min-width: 1000px;
}
.menu{
  text-transform: uppercase;
  font-size: 13px;
}
.menu-hover:hover{
  border-bottom: 1px solid;
  transition: 0.3s;
}
