<div class="header-body sticky cxy">
  <div class="header-inner space-between">
    <a class="logo cxy cursor-pointer" routerLink="">LUCKQ</a>
    <div class="menu cxy">
      <div class="ml-15 cursor-pointer menu-hover">мода</div>
      <div class="ml-15 cursor-pointer menu-hover">красота</div>
      <div class="ml-15 cursor-pointer menu-hover">культура</div>
      <div class="ml-15 cursor-pointer menu-hover">бизнес</div>
      <div class="ml-15 cursor-pointer menu-hover">новости</div>
    </div>
  </div>
</div>
