<div class="mx-auto">
  <div class="df mb-90">
    <div class="w-70 mr-50 ml-50">
      <div class="cxy mb-50">
        <img src="assets/articles/china-fashion.png" width="100%">
      </div>
      <div class="mb-10 df topic">
        <div>{{t.tr('мир')}}</div>
        <div class="mx-10">|</div>
        <div>{{t.tr('события')}}</div>
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('В Пекине открылась Китайская международная неделя моды сезона осень-зима 2024')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('В Пекине открылась Китайская международная неделя моды 2024, на которой представили последние тенденции сезона осень-зима. На показе дизайнеры использовали нематериальное культурное наследие народа мяо в качестве источника вдохновения для своих моделей и продемонстрировали зрителям красоту традиционной китайской свадебной культуры и старинной эстетики. Дизайнеры старались по-новому использовать богатство древней культуры в производстве одежды. В течение недели выдающиеся китайские и иностранные модельеры провели более 130 показов, сосредоточившись на инновационном развитии и эстетике нематериального культурного наследия, цифровой моде и других аспектах, демонстрируя разнообразия китайской модной индустрии.')}}
      </div>
      <div class="cxy mb-20">
        <img src="assets/articles/china-fashion-1.png" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Дизайнер Чжан Сяоци: "Мы использовали узоры традиционной китайской культуры, и, с уважением к истории, сделали трансформацию с современным подходом. Мы изменили цвета и пропорции узоров, чтобы соответствовать вкусам молодых людей".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Заместитель председателя Китайской ассоциации моды Се Фанмин: "Многие дизайнеры используют традиционные элементы и символы Китая, такие как гроты Лунмэнь, китайский фарфор, старинные узоры, народные ремесла. Всё это позволяет по-новому взглянуть красоту нашей древней культуры, а также создать вдохновение для создания современной одежды".')}}
      </div>
      <div class="link">
        <div class="df">
          <div class="mr-5">{{t.tr('Источник:')}}</div>
          <a href="https://russian.cgtn.com/news/2024-03-25/1772241720942161921/index.html" target="_blank">https://russian.cgtn.com/news/2024-03-25/1772241720942161921/index.html</a>
        </div>
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img [src]="'assets/articles/' + t.lang + '/optimize.png'" width="100%">
      </div>
    </div>
  </div>
</div>
