<div class="mx-auto">
  <div class="df mb-90">
    <div class="w-70 mr-50 ml-50">
      <div class="cxy mb-50">
        <img src="assets/articles/russian-style.png" width="100%">
      </div>
      <div class="mb-10 df topic">
        <div>{{t.tr('культура')}}</div>
        <div class="mx-10">|</div>
        <div>{{t.tr('мода')}}</div>
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('В мире вырос спрос на русскую эстетику в одежде')}}
      </div>
      <div class="article text-justify mb-50">
        {{t.tr('В мире вновь вырос спрос на традиционный русский стиль в одежде после спада в 2022 году. Как рассказал создатель бренда «КоКо», чаще всего заказы поступают из Европы и США, также увеличились запросы из Японии, сообщает телеканал «Известия».')}}
      </div>
        <div class="cxy mb-50">
          <img src="assets/articles/russian-style-1.png" height="100%">
        </div>
        <div class="article text-justify mb-50">
          {{t.tr('Всего количество заказов у костромского бренда кокошников за рубеж возросло на 10%, а по России — на 90%. Дизайнеры России предоставляют различные варианты: от намека на национальный костюм до ярко выраженного стиля.')}}
        </div>
        <div class="article text-justify mb-50">
          {{t.tr('Например, у отечественных брендов есть сумки, расшитые вручную по мотивам русских сказок. Конечно, остаются неудобства с логистикой и международными платежами, но покупатели за рубежом готовы ждать.')}}
        </div>
      <div class="link">
        <div class="df">
          <div class="mr-5">{{t.tr('Источник:')}}</div>
          <a href="https://iz.ru/1669769/video/v-mire-vyros-spros-na-russkuiu-estetiku-v-odezhde" target="_blank">https://iz.ru/1669769/video/v-mire-vyros-spros-na-russkuiu-estetiku-v-odezhde</a>
        </div>
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img [src]="'assets/articles/' + t.lang + '/optimize.png'" width="100%">      </div>
    </div>
  </div>
</div>
