<div class="mx-auto">
  <div class="df mb-90">
    <div class="w-70 mr-50 ml-50">
      <div class="cxy mb-50">
        <img src="assets/articles/bishkek.png" width="100%">
      </div>
      <div class="mb-10 df topic">
        <div>{{t.tr('мода')}}</div>
        <div class="mx-10">|</div>
        <div>{{t.tr('новости')}}</div>
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('В Бишкеке проходит международная выставка в сфере моды и текстиля TEXPO 2024')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Бишкек собрал сотни мировых лидеров швейной и текстильной индустрии на форуме-выставке TEXPO 2024. Главные цели мероприятия - укрепление связей, обмен опытом и выход на новые зарубежные рынки представителей сферы текстиля и моды. Участие в выставке приняли предприниматели и производители из 17 стран, в том числе из Китая и России, а также стран Европы и Центральной Азии.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Кыргызская швейная промышленность переживает новый виток развития. Многие предприятия в стране активно инвестируют в современное оборудование, которое позволит им укрепить свои позиции на мировом рынке и повысить качество производимой продукции. Эта одна из таких швейных фабрик, которая идет в ногу со временем.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Основательница кыргызского бренда женской одежды Базаргуль Самиева: "Мы установили новейшее интеллектуальное швейное оборудование из Китая. Китайские специалисты обучают наших сотрудников работе на нём. Аналогов такого оборудования нет в Средней Азии. Такой автоматизированный процесс позволит нам значительно увеличить производственные мощности и расширить ассортимент выпускаемой продукции. Мы масштабируем производство для того, чтобы выйти на международный рынок".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Помочь кыргызским производителям выйти на глобальный рынок и заключить контракты с зарубежными партнерами - одни из главных задач международной выставки TEXPO 2024, которая сегодня проходит в столице Кыргызстана, городе Бишкек.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Собственный корреспондент CGTN-Русский Зарина Сайфудинова: "Выставка собрала производителей, дистрибьюторов, импортеров, экспортеров, продавцов и покупателей из множества стран, включая Китай, Россию, страны Европы и Центральной Азии. Участники имеют возможность не только представить свои продукты и услуги на выставочной площадке, но и принять участие в интенсивных деловых мероприятиях, таких как бизнес-форум, мастер-классы и B2B встречи".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Сотни представителей швейной индустрии обсудили текущие тенденции и будущие перспективы отрасли. Самая большая делегация приехала из России, в ее составе владельцы магазинов и шоурумов, байэры и менеджеры маркетплейсов.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Основатель бренда женской одежды, Россия Семён Пименов: "Кыргызское производство привлекательно в первую очередь двумя вещами. Во-первых, это близко, мы находимся в одном таможенном союзе, можно быстро перевести, можно в рублях оплатить. Это первое. А второе - это такая идеологическая близость".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('В Кыргызстане работает около 3 тысяч швейных производств, которые отшивают продукцию на экспорт на сумму более 150 млн долларов. По данным за прошлый год, более 90% женской верхней одежды, импортируемой в Россию, поступало из Кыргызстана. Форум дает возможность предпринимателям наладить новые поставки.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Представитель компании Tolmach Toys, Россия Илья Гармышев: "Мы как раз вчера заехали на одну фабрику. У них около 300 швей, они готовы закрывать наши объёмы. Завтра нам покажут образцы, что они отшили. Мы, наверное, примем решение работать с ними, если договоримся по цене".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('В 2023 году экспорт Кыргызстана в Россию составил более 22 миллионов единиц одежды. Особенно заметен рост объёма поставок по 5 позициям, таким как женская и мужская трикотажная одежда, блузки, нижнее бельё и футболки.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Министр экономики и коммерции Кыргызской Республики Данияр Амангельдиев: "За последние только 4 года темп роста нашей отрасли - порядка 2-3 процентов. По итогам 2024 года мы предполагаем, что темп роста именно лёгкой промышленности будет где-то 20%".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Рост заказов предполагает развитие производства. Поэтому форум привлек внимание и производителей из Китая. Они представили на вставке ткани, фурнитуру и новейшее промышленное оборудование.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Производитель текстиля, Китай Сюй Синьцзе: "Я привез карту с образцами тканей, которые мы производим. Например, из этих тканей можно шить женские и мужские офисные костюмы. Эти для школьной формы подойдут. Наши ткани легкие и комфортные".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Представитель фирмы по производству швейного оборудования, Китай Ли На: "Мы привезли в Кыргызстан современное швейное оборудование. Все аппараты адаптированы под русский язык, это облегчает обучение и работу на нашем оборудовании. Мы знаем, что в стране хорошо развивается индустрия моды и текстиля. Уже на второй день были достигнуты договорённости с кыргызскими швейными производствами о поставках нашей продукции".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('За последние 20 лет текстильно-швейная отрасль Кыргызстана вошла в пятерку ведущих секторов экономики. Кыргызстан стал рекордсменом в ЕАЭС в сфере легкой промышленности. Это обусловлено тем, что качество производимой продукции с каждым годом становится лучше.')}}
      </div>
      <div class="link">
        <div class="df">
          <div class="mr-5">{{t.tr('Источник:')}}</div>
          <a href="https://russian.cgtn.com/news/2024-04-22/1782392024380674050/index.html" target="_blank">https://russian.cgtn.com/news/2024-04-22/1782392024380674050/index.html</a>
        </div>
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img [src]="'assets/articles/' + t.lang + '/optimize.png'" width="100%">      </div>
    </div>
  </div>
</div>
