<div class="mx-auto">
  <div class="df mb-90">
    <div class="w-70 mr-50 ml-50">
      <div class="cxy mb-50">
        <img src="assets/articles/met-gala-m.jpg" width="100%">
      </div>
      <div class="mb-10 df topic">
        <div>{{t.tr('мода')}}</div>
        <div class="mx-10">|</div>
        <div>{{t.tr('события')}}</div>
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('Met Gala 2024: чем удивил главный бал мира модной индустрии в Нью-Йорке')}}
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('Каждый год в первый понедельник мая в Нью-Йорке проходит бал Института костюма Met Gala с участием самых ярких мировых звезд. В этом году гости в своих нарядах обыграли тему "Спящие красавицы: пробуждение моды".')}}
      </div>
      <div class="cxy mb-20">
        <img src="assets/articles/met-gala.jpg" width="100%">
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('Дженнифер Лопес посетила ежегодный бал Met Gala в эффектном платье.')}}
      </div>
      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-1.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Кара Делевинь удивила зрителей костюмом напоминающим кольчугу')}}
      </div>
      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-2.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Ярко-красное платье колумбийской певицы Шакиры привлекало внимание публики.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-3.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Мария Шарапова на благотворительном вечере продемонстрировала платье в желтых тонах.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-4.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Головной убор Зендеи очаровал зрителей.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-5.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Ники Минаж удивила присутствующих образом цветочной феи.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-6.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Кит Урбан и Николь Кидман прибыли на бал в гармоничных черно-белых одеяниях.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-7.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Ким Кардашьян удивила гостей своим полупрозрачным платьем и узким корсетом.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-8.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Джиджи Хадид очаровала окружающих своим цветочным платьем.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-9.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Ирина Шейк посетила мероприятие в изящном серебристом платье.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-10.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Лана Дель Рей прибывала на Met Gala в платье украшенном веточками и легкой вуалью.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-11.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Деми Мур приехала на бал в роскошном наряде с нежным узором.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-12.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Жанель Монэ удивила гостей свои откровенным платьем.')}}
      </div>

      <div class="cxy mb-20">
        <img src="assets/articles/met-gala-13.jpg" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Карди Би появилась на балу в черном платье с пышным шлейфом.')}}
      </div>

      <div class="link">
        <div class="df">
          <div class="mr-5">{{t.tr('Источник:')}}</div>
          <a href="https://ria.ru/20240507/meropriyatie-1944413737.html" target="_blank">https://ria.ru/20240507/meropriyatie-1944413737.html</a>
        </div>
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img [src]="'assets/articles/' + t.lang + '/optimize.png'" width="100%">
      </div>
    </div>
  </div>
</div>

