<div class="mx-auto">
  <div class="df mb-90">
    <div class="w-70 mr-50 ml-50">
      <div class="cxy mb-50">
        <img src="assets/articles/china-wall.jpg" width="100%">
      </div>
      <div class="mb-10 df topic">
        <div>{{t.tr('культура')}}</div>
        <div class="mx-10">|</div>
        <div>{{t.tr('события')}}</div>
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('Музыканты из Китая и России дали совместный концерт у Великой Китайской стены')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Российский национальный молодёжный симфонический оркестр под руководством маэстро Юрия Башмета, пианист Денис Мацуев и оперный певец Ильдар Абдразаков вместе с известными китайскими музыкантами исполнили мировые шедевры классической музыки у Великой Китайской стены. Мои коллеги побывали на концерте.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Великая Китайская стена - это не только величайшее сооружение в истории человечества, но и символ стойкости китайского народа. А в наше время она стала свидетелем культурных обменов двух сильных народов.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Концерт состоялся на сцене под открытым небом, рядом с участком стены Бадалин в пригороде Пекина. Событие приурочено к 75-летию установления дипломатических отношений между КНР и РФ. Российские музыканты в восторге от самой возможности выступить рядом со стеной.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Пианист Денис Мацуев:"Конечно, сегодня особенный концерт, потому что это место оно историческое, оно легендарное, оно знаковое и для Китая, и вообще в мире. Конечно, я здесь уже играл, я прекрасно помню эту атмосферу, и чудная погода. Я думаю, что сегодняшний концерт будет необычным, потому что мы в основном играем в концертных залах, но тем не менее приятен формат таких концертов, он мне очень близок. Я люблю такие концерты, тем более в такой потрясающей атмосфере. Мы здесь с замечательными потрясающими музыкантами, с которыми будем играть сегодня и завтра здесь русскую музыку, концерт Чайковского".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Оперный певец Ильдар Абдразаков:"Во-первых, для меня большая радость приехать в Китай и большая честь сегодня представлять российскую культуру в Китае. Я очень рад, что этот год, перекрёстный год между Россией и Китаем, и это культурное событие, которое, мне кажется, должно связывать нас. И сегодня мы представляем Россию здесь, и мы все, все мои коллеги, очень счастливы быть здесь у этой Великой Китайской стены".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Само выступление началось ближе к вечеру. На одной и той же сцене с российскими артистами выступили известные китайские музыканты: певица Инь Сюмэй и скрипач Ло Чаовэнь. Программа включала в себя музыкальные произведения как российских, так и китайских композиторов. Всё это, безусловно, привносит свежую энергию в культурный обмен между двумя странами.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Дирижёр Юрий Башмет:"Я считаю, что это огромное счастье для всей молодёжи, российских музыкантов из моего оркестра, то, что они, а это огромные события, что они побывали на китайской стене, это очень интересное и важное событие в их жизни".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Скрипач из Китая Ло Чаовэнь:"Прежде всего, для меня большая честь, что маэстро Башмет пригласил меня принять участие в этом концерте. Сегодня между Китаем и Россией очень хорошие отношения. Растут обмены в экономике, музыке и культуре. Я очень рад выступать на такой большой сцене. То, что мою музыку услышит международная публика, является для меня самой большой наградой".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('И публика каждый раз встречала и провожала артистов громкими овациями. В завершение концерта Ильдар Абдразаков и Инь Сюмэй спели хорошо известные в Китае "Подмосковные вечера" на двух языках.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Певица из Китая Инь Сюмэй:"Мне было очень приятно выступать сегодня с замечательными российскими артистами. Музыка не имеет границ. И неважно, какая это музыка: если её принимает весь мир, то она действительно объединяет. Китай и Россия очень близки друг к другу: когда мы были молоды, мы смотрели много русских фильмов и пели много русских песен. Так что искусство продолжает углублять дружбу между двумя народами".')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('16 мая председатель КНР Си Цзиньпин и президент России Владимир Путин дали старт Году культуры России и Китая. Концерт на Великой Китайской стене - лишь одно из событий, направленных на углубление взаимопонимания и дружбы между двумя народами.')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Со Ицюнь:"Музыка сближает наши страны, напоминая о наших общих ценностях, традициях и стремлениях. Этот концерт оставит незабываемый след в истории дружбы и сотрудничества между Китаем и Россией, вдохновляя нас на новые высоты отношений и взаимопонимания в будущем".')}}
      </div>

      <div class="link">
        <div class="df">
          <div class="mr-5">{{t.tr('Источник:')}}</div>
          <a href="https://russian.cgtn.com/news/2024-05-18/1791806138998755330/index.html" target="_blank">https://russian.cgtn.com/news/2024-05-18/1791806138998755330/index.html</a>
        </div>
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img [src]="'assets/articles/' + t.lang + '/optimize.png'" width="100%">
      </div>
    </div>
  </div>
</div>
