<div class="mx-auto">
  <div class="df mb-90">
    <div class="w-70 mr-50 ml-50">
      <div class="cxy mb-50">
        <img src="assets/articles/new-year.png" width="100%">
      </div>
      <div class="mb-10 df topic">
        <div>{{t.tr('новости')}}</div>
        <div class="mx-10">|</div>
        <div>{{t.tr('культура')}}</div>
      </div>
      <div class="article mb-20 text-justify">
        {{t.tr('В 2024 году впервые в России масштабно отмечается известный во всем мире праздник – Китайский Новый год')}}
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Перед началом мероприятий в Москве велась масштабная подготовка. Специально выделенные улицы погрузились в предпраздничную суету, вызывая интерес у всех очевидцев. В воздухе между историческими домами Камергерского переулка закачались на ветру сотни алых светящихся фонариков. А на самой улице разместились два домика с национальной китайской едой и большие надувные драконы.')}}
      </div>
      <div class="cxy mb-50">
        <img src="assets/articles/new-year-1.png" width="100%">
      </div>
      <div class="article text-justify mb-20">
        {{t.tr('Совсем рядом на Тверской площади продуктовые лавки украсили китайские иероглифы и яркие фонарики. Книжные лавки на Новом Арбате тоже преобразились китайским колоритом. Эти локации подойдут тем, кто хочет слегка прикоснуться к празднику, попробовать китайскую кухню и сделать необычные фото. Желающим погрузится в многообразие китайской культуры предлагают посетить павильон № 22 на ВДНХ, где для гостей подготовили театрализованные представления, мастер-классы, выставку «Терракотовая армия».')}}
      </div>
    </div>
    <div class="aside">
      <div class="sticky-banner">
        <img [src]="'assets/articles/' + t.lang + '/optimize.png'" width="100%">
      </div>
    </div>
  </div>
</div>
