/deep/mark {
  background-color: transparent !important;
}
.max-w-1000{
  max-width: 1000px;
}
.header-body {
  margin-left: 64px;
  margin-right: 64px;
  background-color: white;
}
.logo{
  height: 70px;
  font-size: 50px;
}
.header-inner{
  width: 100%;
  max-width: 1330px;
  min-width: 1000px;
}
.menu{
  text-transform: uppercase;
  font-size: 13px;
}
.menu-hover:hover{
  border-bottom: 1px solid;
  transition: 0.3s;
}
.article-header{
  font-size: 30px;
}
.article{
  font-size: 18px;
  line-height: 20px;
}
.article-big{
  font-size: 22px;
  line-height: 25px;
}
.article-main{
  font-size: 18px;
  text-align: justify;
}
.head-art{
  font-size: 30px;
}
.topic{
  text-transform: uppercase;
  font-size: 12px;
  font-family: Helvetica;
}
.main-topic{
  font-size: 30px;
  text-transform: uppercase;
}
.news{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.news-head{
  height: 100px;
}
.circle{
  overflow: hidden;
  border-radius: 50%;
}
.footer{
  padding: 90px 0;
  background: #232323;
  width: 100%;
}
.footer-topic{
  font-size: 12px;
}
.text-link{
  text-decoration: none;
  color: black;
}
.aside{
  float: right;
  width: 300px;
}
.sticky-banner{
  position: sticky;
  top: 70px;
  z-index: 2;
}
.line{
  margin-bottom: 22px;
  width: 50%;
  border-bottom: 1px solid black;
}
.red-border{
  border: 1px solid #c1415730;
}
.marquee{
  width: 100%;
  color: black !important;
  --marktext: black;
}
.marquee-mark{
  padding: 0 10px;
  color: black !important;
  font-size: 30px;
}
.run-stroke{
  position: absolute;
  bottom: -200px;
}
.left-arrow{
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
  background-color: #F9F9F9;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.left-arrow:hover{
  background-color: #fff;
}
.right-arrow{
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
  background-color: #F9F9F9;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.right-arrow:hover{
  background-color: #fff;
}
.disabled{
  pointer-events: none;
}
.images{
  display: flex;
  justify-content: center;
}
.images-window{
  width: 1852px;
  overflow: hidden;
  scroll-behavior: smooth !important;
  transition: 1s;
}
.shop-images{
  overflow: hidden;
  transition: 1s;
  width: 1852px;
}
.img{
  min-width: 463px;
  min-height: 463px;
}
.back{
  background-color: #F7F5F7;
}
.price{
  height: 100px;
  background-color: #F7F5F7;
  margin-top: -6px;
}
.back-narod{
  background: url("../../assets/narod.png");
  height: fit-content;
}
.date{
  font-size: xxx-large;
}
